<div class="jumbotron">
  <% if(user) { %>
    <h1>Hello, Chat App! <%= user.common_profile.displayname %></h1>
  <% } else { %>
    <h1>Hello, Chat App!</h1>
  <% } %>
  <button type="button" class="btn btn-primary">내 방으로</button>
</div>
