<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./layouts/head %>
</head>
<body>
  <% include ./layouts/nav %>
  <div class="container">
    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <% include ./layouts/body %>
    <ul class="list-group">
      <h1>생성된 방</h1>
      <li class="list-group-item">정보통신공학과</li>
      <li class="list-group-item">컴퓨터공학과</li>
      <li class="list-group-item">기계공학과</li>
    </ul>
  </div>
</body>
</html>
