<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./layouts/head %>
  <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
  <div class="container">
      <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
      <% } %>
      <form method="post" class="form-signin" action="/signin">

        <h2 class="form-signin-heading">Sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <br/>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="/auth/facebook">
              페이스북
            </a>
          </li>
        </ul>
      </form>

    </div> <!-- /container -->
</body>
</html>
